main {
  min-height: 80vh;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 50px;
}

.header {
  .navbar-brand {
    text-transform: capitalize;
  }
  .nav-link {
    text-transform: capitalize;
  }
}

.form-row {
  .form-field {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .form-btn-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-btn {
    padding: 12px;
  }
}

.add-group-dropdown .MuiAutocomplete-inputRoot {
  font-family: "Cabin Sketch", cursive;
}

.expense-grid-header {
  background-color: #f0f0f0;
  border: 1px solid grey;
}
.date-picker-col {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.date-picker-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.date-picker-cls {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #949494;
  width: 100%;
}
.add-group-form {
  display: flex;
  width: 100%;
  align-items: center;
  .add-group-dropdown {
    flex: 8;
  }
  .group-add-icon {
    flex: 2;
    margin-top: 5%;
  }
}
.icon-row {
  height: 10vh;
  @media screen and (max-width: 576px) {
    height: 20vh;
  }
  .icon-col {
    .icon-image-div {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 100%;
      width: auto;
    }
    .seven-eleven {
      background-image: url("./images/711Logo.png");
    }
    .daiso {
      background-image: url("./images/daiso.png");
      height: 92%;
    }
    .lawson {
      background-image: url("./images/lawson.png");
    }
    .donki {
      background-image: url("./images/donki.jpeg");
    }
    .life {
      background-image: url("./images/life.jpeg");
    }
    .cricket {
      background-image: url("./images/cricket.jpeg");
      height: 80%;
    }
    .amazon {
      background-image: url("./images/amazon.png");
    }
    .suica {
      background-image: url("./images/suica.png");
    }
    .vegi {
      background-image: url("./images/vegi.jpeg");
    }
    .food {
      background-image: url("./images/food.png");
    }
    .toys {
      background-image: url("./images/toys.jpeg");
    }
  }
}
.month-select-div {
  display: flex;
  align-items: baseline;
}
